body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
span{
    color: grey;
}

#title {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5em;
}

#description {
    text-align: center;
    margin: 20px 0 40px;
    font-size: 1.2em;
    color: #333;
}

#survey-form {
    max-width: 500px;
     min-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 20px;
    font-size: 1.1em;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

textarea {
    height: 120px;
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    margin-top: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
